<!DOCTYPE html>
<html lang="<%= config.language %>">

	<%- partial('_partial/head') %>
	
	<body>
		<div class="container">
			<%- partial('_partial/nav') %>
			
<% if (!is_post()) { %>
				<div class="left-col">
<% } else { %>
<div class="left-col hide-left-col">
	<% } %>
					<!-- 浮层 -->
					<%- partial('_partial/layer') %>
						<!-- 侧边栏 -->
						<%- partial('_partial/sidebar') %>
				</div>

<% if (!is_post()) { %>
<div class="right-col">
<% } else { %>
<div class="right-col show-right-col">
<% } %>

				<%- body %>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
	<%- js('js/index.js') %>
</html>