<div class="sidebar">
  <div class="left-sidebar-nav">
    <div class="sidebar-nav-title">
      <a href="#">最新文章</a>
      <!-- <span class="up-down-toggle">
        <i class="fa fa-angle-down"></i>
        <i class="fa fa-angle-up" style="display: none;"></i>
      </span> -->

    </div>
    <div class="sidebar-nav-search">
      <%- search_form({class: 'search-input-el'}) %>
      <i class="fa fa-search"></i>
    </div>
  </div>
  <!-- <div class="left-sidebar-tags">
    <h2>文章分类</h2>
    <div class="widget">
      <%- list_tags({show_count: theme.show_count}) %>
    </div>
  </div> -->
  <div class="left-sidebar-post">
    <% site.posts.sort('date',-1).each(function (post) { %>
    <div class="post-card">
      <div class="post-card-content">
        <div class="post-card-content-tag">
          <%- list_tags(post.tags, {
              style: false,
              class: 'article-tag',
              show_count: false
          }) || '无标签' %> 
        </div>
        <div class="post-card-content-title"><a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a></div>
        <!-- <div class="post-card-content-info"><%= post.excerpt %></div> -->
        <div class="post-card-content-time"><%= date(post.date, "YYYY-MM-DD") %> | fyflying</div>
      </div>
    </div>
    <% }) %>
  </div>
</div>